body{
    /* background: url('../img/brown.jpg.jpg'); */
    align-items: center;
    text-align: center;
}

header{

    background-color: darkolivegreen;
    border-style: double;
    border-color: darkgreen;
    padding: 2px 10px;
}

#title{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size:larger;
}

#textarea{
    align-items: center;
   background-color:brown;
    border-color: black;
    border-radius: 12px;
    padding: 100px;
    margin: 20px 100px;
}
#todo{
    color: black;
}

/*style list item*/
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
/*make list item unselectable*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*set odd list to diffrent color(zebra stripes)*/
ul li:nth-child(odd){
    background: #f9f9f9;
}
/*darker background on hover*/
ul li:hover{
    background: #ddd;
}
/*when clicked on, add a background color and strike out text*/
ul li.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
/*add checked marked when clicked on*/
ul li:checked::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/*style add button*/
.addbtn{
    background-color: dimgray;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.addbtn:hover {
    background-color: beige;
}

.button{
    background-color:lightblue;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: darkblue;
}